* { margin: 0; padding: 0; }

body { 
    font-family: "Times New Roman", Times, arial, serif, sans-serif; 
    background-color: rgb(59, 191, 151);
}

/*Header of the page Section*/
.header {
    position:absolute;
    z-index:100;
    background-color:rgb(176, 221, 226);
    width:100%;
    height:15%; 
    top:0%;
    text-align: center;
    font-size: 25px;
    cursor: default;
}

.header#admin {
    position: fixed;
    z-index: 200;
}

.header_icon {
    position: absolute;
    height: 80%;
    top: 10%;
    left: 2%;
    border-radius: 20px;
}

.header h1 {
    position: relative;
    top: 28%;
    z-index: 100;
}

.nube {
    position: absolute;
    height: 30%;
    top: 35%;
}

#nube1 { left: 11%; }

#nube2 { left: 16%; }

#nube5 { right: 16%; }

#nube6 { right: 11%; }

#nube7 { right: 6%; }

#nube8 { right: 1%; }

/*Search Bar Section*/
.search_bar {
    width: 40%;
    margin-left: 30%;
    margin-top: 10%;
    margin-right: 30%;
    border-radius: 20px;
}

/*Code from w3schools for search box, we rename some of the elements*/
* {box-sizing: border-box;}

/* Style the search field */
form#search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 60%;
  background: #f1f1f1;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-family: "Times New Roman";
}

/* Style the submit search button */
form#search button {
  position: relative;
  float: left;
  margin-left: 10%;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  left: 10%;
  height: 4.3%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

form#search button:hover {background: #0b7dda;}

/* Clear floats */
form#search::after {
  content: "";
  clear: both;
  display: table;
}
/*end of code from w3schools for search box*/

form#search input[type=text]:focus, .search_filter:focus, form#search button:focus {outline: none;}

.search_bar:hover, .search_bar:focus-within {border: 1.0px solid black;}

/*search filter*/
.search_filter {
    position: absolute;
    height: 4.5%;
    z-index: 100;
    font-size: 1.05vw;
    border-left: none;
    border-right: none;
    background-color: rgb(241,241,241);
    font-family: "Times New Roman";
}

/*sell product area*/
.sell {
    z-index: 100;
    position: absolute;
    top: 17%;
    left: 1.5%;
    background-color: white;
    height: 11%;
    width: 25%;
    border-radius: 20px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

/*Sell Product Ad*/
#sellHeader {
    margin-top: 5%;
    margin-left: 6%;
    margin-bottom: 2%;
    margin-right: 6%;
    cursor: default;
}

a#sell_Link, a#sell_Link:hover {
    position: relative;
    margin-left: 21%;
    font-size: 1.2vw;
    color: grey;
}

a#sell_Link:hover {color: blue;}

/*Background Section*/
.background {
    position: fixed;
    width: 70%;
    height: 100%;
    right: 0%;
}

.right_side_square {
    position: relative;
    margin-left: 30%;
}

/*Administrator Operations Section*/
.left_side_square {
    position: fixed;
    margin-top: 8%;
    margin-left: 0.5%;
    width: 30%;
    height: 83%;
    z-index: 200;
    background-color: white;
    border-radius: 20px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    overflow: auto;
}

.left_side_square h1 {
    text-align: center;
    margin-top: 3%;
    cursor: default;
}

.left_side_square h2 {text-align:left;}

h2.optionClassTag {
    position: relative;
    margin-top: 5%;
    margin-left: 10%;
    cursor: default;
}

button.option{
    position: relative;
    display: block;
    margin-left: 10%;
    padding-left: 5%;
    margin-top: 2%;
    font-family: "Times New Roman";
    font-size: 1.1vw;
    width: 80%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: left;
    background-color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button.option:hover {
    background-color:darkseagreen;
    text-decoration: underline;
}

/*Results area Section*/
.results_area#top {
    margin-top: 5%;
    left: 25%;
    width: 50%;
    height: 200px;
    z-index: 100;
    position: relative;
    background-color: white;
    border-radius: 20px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

.results_area {
    margin-top: 0.25%;
    left: 25%;
    width: 50%;
    height: 200px;
    z-index: 100;
    position: relative;
    background-color: white;
    border-radius: 20px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

.results_area#bottom {
    margin-top: 0.25%;
    margin-bottom: 2.5%;
    left: 25%;
    width: 50%;
    height: 200px;
    z-index: 100;
    position: relative;
    background-color: white;
    border-radius: 20px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}
/*No Result Message Format*/
#noResultInfo {
    position: absolute;
    margin-top: 8%;
    margin-left: 20%;
}

/*General Info of products*/
.product img {
    position: absolute;
    max-width: 30%;
    width: auto;
    height: 80%;
    margin-top: 2%;
    margin-left: 70%;
}

.product .product_name {
   position: absolute;
    margin-top: 3%;
    margin-left: 5%;
    font-size: 1.2vw;
    background-color: white;
    border: none;
    cursor: pointer;
    color: blue;
    width: 58%;
    text-align: left;
    font-family: "Times New Roman";
}

.product .product_name:focus-within {
    outline: none;
}

.product .product_name:hover {
    position: absolute;
    margin-top: 3%;
    margin-left: 5%;
    font-size: 1.2vw;
    background-color: white;
    border: none;
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    font-family: "Times New Roman";
}

.product .bid {
    position: absolute;
    margin-top: 9%;
    margin-left: 5%;
    font-size: 1.2vw;
    font-family: "Times New Roman";
    border: none;
    cursor: default;
    width: 58%;
}

.product .bid:focus-within {
    outline: none;
}

.product .departments {
    position: absolute;
    margin-top: 15%;
    margin-left: 5%;
    font-size: 1.2vw;
    font-family: "Times New Roman";
    border: none;
    cursor: default;
    width: 58%;
}

.product .departments:focus-within {
    outline: none;
}

/*Logout/Sign-out Section*/
.logout, .logout:hover {
    position: absolute;
    right: 2%;
    top: 18%;
    font-size: 1.2vw;
    z-index: 200;
    background-color: white;
    height: 5%;
    width: 6%;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-family: "Times New Roman";
    text-align: center;
    outline: none;
    box-shadow: 0 9px #999;
}

.logout#admin, .logout#admin:hover {position: fixed;}

.logout:hover {
    background-color: cornflowerblue;
    color: white;
}

.logout:active {
    background-color: cornflowerblue;
    color: white;
    box-shadow: 0 5px #666666;
    transform: translateY(4px);
}