* { margin: 0; padding: 0; }

body { 
    font-family: "Times New Roman", Times, arial, serif, sans-serif; 
    background-color: rgb(59, 191, 151);
}

.header {
    z-index: 200;
    background-color:rgb(176, 221, 226);
    width:100%;
    height:15%; 
    position: fixed;
    top:0%;
    text-align: center;
    /*Modified*/
    font-size: 1.3vw;
    cursor: default;
}

.header_icon {
    position: absolute;
    height: 80%;
    top: 10%;
    left: 2%;
    border-radius: 20px;
}

.header h1 {
    position: relative;
    top: 28%;
}

.nube {
    position: absolute;
    height: 30%;
    top: 35%;
}

#nube1 { left: 11%; }

#nube2 { left: 16%; }

#nube5 { right: 16%; }

#nube6 { right: 11%; }

#nube7 { right: 6%; }

#nube8 { right: 1%; }

.background {
    position: fixed;
    width: 70%;
    height: 100%;
    right: 0%;
}

.left_side_square {
    position: fixed;
    margin-top: -1.85%;
    margin-left: 0.5%;
    width: 30%;
    height: 83%;
    z-index: 200;
    background-color: white;
    border-radius: 20px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    overflow: auto;
}

.left_side_square h1 {
    text-align: center;
    margin-top: 3%;
    cursor: default;
}

.left_side_square h2 {
    text-align:left;
}

/*Logout*/
#logout, #logout:hover {
    position: fixed;
    right: 2%;
    top: 18%;
    font-size: 1.2vw;
    z-index: 200;
    background-color: white;
    height: 5%;
    width: 6%;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-family: "Times New Roman";
    text-align: center;
    outline: none;
    box-shadow: 0 9px #999;
}

#logout:hover {
    background-color: cornflowerblue;
    color: white;
}

#logout:active {
    background-color: cornflowerblue;
    color: white;
    box-shadow: 0 5px #666666;
    transform: translateY(4px);
}

h2.optionClassTag {
    position: relative;
    margin-top: 5%;
    margin-left: 10%;
    cursor: default;
}

button.option{
    position: relative;
    display: block;
    margin-left: 10%;
    padding-left: 5%;
    margin-top: 2%;
    font-family: "Times New Roman";
    font-size: 1.1vw;
    width: 80%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: left;
    background-color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button.option:focus-within{
    outline: none;
}

button.option:hover, button.option#active {
    background-color:darkseagreen;
    text-decoration: underline;
    outline: none;
}

button.option#active {
    cursor: default;
    background-color: green
}

.filter {
    position: relative;
    width: 15%;
    margin-left: 60%;
    margin-top: 10%;
    margin-right: 25%;
}

.search_filter {
    position: relative;
    font-size: 1.3vw;
    font-family: "Times New Roman";
    border-radius: 5px;
    padding: 1.5%;
    cursor: pointer;
}

.search_filter:focus, .search_filter:focus-within {
    outline: none;
}

.filter_button, .filter_button:hover {
    position: relative;
    height: 35px;
    width: 50px;
    margin-left: 3%;
    font-size: 1.2vw;
    background-color: rgb(221, 149, 69);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-family: "Times New Roman";
    text-align: center;
    outline: none;
    box-shadow: 0 8px #999;
}

.filter_button:hover {
    background-color: rgb(129, 57, 30);
    color: white;
}

.filter_button:active {
    background-color: rgb(129, 57, 30);
    color: white;
    box-shadow: 0 5px #666666;
    transform: translateY(4px);
}

/*Results area*/
.results_area#top {
    margin-top: 2%;
}

.results_area {
    margin-top: 0.25%;
    left: 40%;
    width: 50%;
    height: 200px;
    z-index: 100;
    position: relative;
    background-color: white;
    border-radius: 20px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

.results_area#bottom {
    margin-top: 0.25%;
    margin-bottom: 2.5%;
}

#noResultInfo {
    position: relative;
    text-align: center;
    margin-top: 9%;
}

/*General Info of products*/
.product img {
    position: absolute;
    max-width: 30%;
    max-height: 80%;
    top: 10%;
    margin-left: 65%;
}

.product .product_name {
    position: relative;
    display: block;
    margin-top: 2%;
    margin-left: 5%;
    font-size: 1.2vw;
    background-color: white;
    border: none;
    cursor: pointer;
    color: blue;
    width: 58%;
    text-align: left;
}

.product .product_name:hover {
    text-decoration: underline;
}

.product .product_name:focus, .product .product_name:focus-within {
    outline: none;
}

.product .bid {
    position: relative;
    display: block;
    margin-top: 2%;
    margin-left: 5%;
    font-size: 1.2vw;
    font-family: "Times New Roman";
    border: none;
    cursor: default;
}

.product .bid#moreSpace, .product .departments#moreSpace {
    margin-top: 4%;
}

.product .departments {
    position: relative;
    display: block;
    margin-top: 2%;
    margin-left: 5%;
    font-size: 1.2vw;
    font-family: "Times New Roman";
    border: none;
    cursor: default;
    width: 58%;
}

.product .state {
    position: relative;
    display: block;
    margin-top: 2%;
    margin-left: 5%;
    font-size: 1.2vw;
    font-family: "Times New Roman";
    border: none;
    cursor: default;
    max-width: 57%;
}